<footer class=" bg-dark text-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col text-center  pt-2 pb-0 my-0">
        <p class="mb-1">Marketplace project build during the LeWagon Bootcamp</p>
        <p class="mb-1"><a href='https://github.com/fabiogardinal'>Fabio</a> | <a href='https://github.com/hopippolla'>Felipe</a> | <a href='https://github.com/vasconsaurus'>Manu</a> | <a href='https://github.com/MoisesMarinho'>Moisés</a></p>
      </div>
    </div>
  </div>
  <hr class="my-1">
  <div class="text-center py-2">
   <p class="mb-1">© Cheap Ships - 2022</p>
  </div>
</footer>
