
<div class="glitch">
  <div class="line"> </div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
  <div class="line">YOUR ORDER IS COMPLETE.</div>
</div>
