

<div class="container ">
  <div class="row justify-content-between align-items-center glitch-height">

    <div class="col-12 col-md-6">
      <h2 class="my-5">Thanks for buying at Cheap Ships!</h2>
      <h5 class="mb-5"> Your Order id is #<%= @order.id %> </h5>

      <p class="mb-0"> You are now the happy owner of the <%= @vehicle.name %>!</p>
      <p> It will be delivered to you at the blink of an eye.</p>
    <%= link_to 'Back', vehicles_path, class: "btn-glow btn btn-outline-light align-self-end" %>
    </div>

    <div class="col-12 col-md-6">
      <%= render "glitch_order" %>
    </div>


  </div>
</div>
