

<div class="container">
  <div class="row d-flex justify-space-between">

    <div class="col-12 col-md-6">
      <h2 class="my-5">Thanks for buying at Cheap Ships!</h2>
      <h5 class="mb-5"> Your Order id is #<%= @order.id %> </h5>

      <p class="mb-0"> You are now the happy owner of the <%= @vehicle.name %>!</p>
      <p> It will be delivered to you at the blink of an eye.</p>
    </div>

    <div class="col-12 col-md-6 align-self-center">
      <%= render "glitch_order" %>
    </div>


    <%= link_to 'Back', vehicles_path, class: "btn btn-dark align-self-end" %>
  </div>
</div>
