
<div class="glitch">
  <div class="line"> </div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
  <div class="line">WELCOME.</div>
</div>
