.shadowboxer {
  background-color: rgba(14, 14, 14, 0.5);
}
.carousel-item {
  transition: transform 1s ease, opacity .5s ease-out
}

.carroussel-img-size {
  height: 210px;
  object-fit: cover;
  width: 100%;
}
