.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.card-img-top :hover {
  box-shadow: 2px 1px 1px 1px #0fa;
}

.card-size {
  height: 10rem;
}

.details :hover{
  color: #fff !important;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa
  !important
}

.orders :hover{
  color: #fff !important;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa
  !important
}

h5 a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.card-header a:hover{
  color: #fff !important;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa
    !important
  }


.btn-dark a {
  color: rgb(15, 15, 15);

}
// .btn-dark :hover {
//   box-shadow: 2px 1px 1px 1px #0fa;
// }

.card{
  background-color: black;
}

.border-secondary:hover {

    box-shadow: 2px 1px 1px 1px #0fa;


}

.mb-1{
  color: rgb(245, 244, 244);
}


card-header {
  color: #fff !important;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa
    !important
}
