.navbar-lewagon {
  justify-content: space-between;
  background: white;
  h2 {
    text-decoration: none !important;
    color: black !important;
  }

  a {
    text-decoration: none !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-top: 0;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
    margin: 0;
}

.notice {
  margin-bottom: 0;
}
