<ul>
  <% @vehicles.each do |vehicle| %>
    <li><%= link_to vehicle.name, vehicle_path(vehicle) %></li>
  <% end %>
</ul>



<%# *****Inserir código abaixo no bloco each*****  %>

<%# if policy(vehicle).edit?
 link_to 'Edit', edit_vehicle_path(vehicle)
end %>

<%# if policy(vehicle).destroy?
 link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' }
end %>


<% if policy(Vehicle).new? %>
  <%= link_to 'New Vehicle', new_vehicle_path %>
<% end %>
