<div class="container w-100 justify-content-center">
<h1 class="title-form">New vehicle</h1>

<%= render "form", vehicle: @vehicle %>
<%= link_to 'Back', vehicles_path, class: "btn-glow btn btn-outline-light align-self-end" %>
</div>
<p></p>
<p></p>
